// Lista de Cores//
$azul-claro : #008ED1;
$cinza-claro: #7A7A7A;
$amarelo-forte: #FF9F1C;
$azul-marinho: #2EC4B6;
$preto: #011627;
$branco: #F2F2F2;
$branco-cinzentado: #BDBDBD;
$cor-texto: #11111111;
$branco-puro: #fff;
$preto-puro: #000;

