%botao{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    background: $amarelo-forte;
    border-radius: 5px;
    color: $branco-puro;
    border: 0;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    width: 200px;
    margin: 0 auto;

    &:last-child{
        margin-top: 25px;
    }

    &:hover{
        text-decoration: none;
        background: darken($amarelo-forte, 10%);
    }

    &:active,
    &:focus{
        text-decoration: none;
        background: darken($amarelo-forte, 20%);
    }
}